.contenedor {
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      color: #333;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    button {
      padding: 0.75rem 1rem;
      background-color: #4a148c;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #6a1b9a;
      }
    }
  }

  .tarjeta {
    display: block;
    border-radius: 16px;
    padding: 1.5rem;
    text-decoration: none;
    color: #21232F;
    box-shadow: 0 4px 12px rgba(59, 30, 84, 0.15);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    border: 4px solid transparent;
    margin-bottom: 1rem;

    strong {
      font-size: 1.2rem;
    }

    em {
      display: block;
      margin-top: 0.5rem;
      color: #666;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 20px rgba(59, 30, 84, 0.25);
    }
  }

  // Colores por planeta
  .luna {
    border-color: silver;
  }

  .mercurio {
    border-color: gold;
  }

  .venus {
    border-color: green;
  }

  .sol {
    border-color: goldenrod;
  }

  .marte {
    border-color: red;
  }

  .júpiter {
    border-color: blue;
  }

  .saturno {
    border-color: black;
  }

  .fecha-con-icono {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fecha-con-icono .icono {
  /* Esto pone el icono a la derecha */
  font-size: 2rem; /* Opcional, para que el icono se vea un poco más grande */
}

.fecha-con-icono .icono.bi-sun {
  color: #FFC107;
}

.fecha-con-icono .icono.bi-moon {
  color: #6C757D;
}

}
