/* Estilos base */
.tarjeta {
  display: block;
  border-radius: 16px;
  padding: 1.5rem;
  text-decoration: none;
  color: #21232F;
  box-shadow: 0 4px 12px rgba(59, 30, 84, 0.15);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border: 4px solid transparent;
  margin-bottom: 1rem;
}

.tarjeta:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(59, 30, 84, 0.25);
}

/* Colores por planeta */
.luna {
  border-color: silver;
}

.mercurio {
  border-color: gold;
}

.venus {
  border-color: green;
}

.sol {
  border-color: goldenrod;
}

.marte {
  border-color: red;
}

.júpiter {
  border-color: blue;
}

.saturno {
  border-color: black;
}
