<div class="contenedor">
  <div class="planetas-wrapper">
    <div *ngIf="loading" class="loading">Cargando...</div>
      <ul *ngIf="!loading && planetas.length">
  <li *ngFor="let p of planetas">
    <!-- Caso normal: planeta -->
    <div *ngIf="!p.esAnuncio" (click)="verDetalle(p)" [ngClass]="['tarjeta', p.nombre.toLowerCase()]">
      <h2>{{ p.nombre }}</h2>
      <p>{{ p.tipo }}</p>
      <p>Fecha: {{ p.fecha }} - {{ p.horaInicio }} - {{ p.horaFin }}</p>
    </div>
    <!-- Caso anuncio -->
    <div *ngIf="p.esAnuncio" class="tarjeta anuncio">
      <app-adsense-banner></app-adsense-banner>
    </div>
  </li>
</ul>
  </div>
</div>