<div class="contenedor">
  <div class="planetas-wrapper">
    <!-- Estado cargando -->
    <div *ngIf="loading" class="loading">Cargando...</div>
    <!-- Lista de planetas -->
    <div *ngIf="!loading && planetas.length">
      <ng-container *ngFor="let p of planetas">
        <!-- Caso normal: planeta -->
        <div *ngIf="p.tipo !== 'Ad'"
             (click)="verDetalle(p)"
             [ngClass]="['tarjeta', p.nombre?.toLowerCase()]">
          <h2>{{ p.nombre }}</h2>
          <p>{{ p.tipo }}</p>
          <p class="fecha-con-icono">
            <span class="texto-fecha">
              Fecha: {{ p.fecha }} - {{ p.horaInicio }} - {{ p.horaFin }}
            </span>
            <span class="icono" *ngIf="p.dia">
              <i class="bi bi-brightness-low-fill"
                 style="font-size: 2rem; color: #FFC107;"></i>
            </span>
            <span class="icono" *ngIf="!p.dia">
              <i class="bi bi-moon-stars-fill"
                 style="font-size: 2rem; color: #6C757D;"></i>
            </span>
          </p>
        </div>
        <!-- Caso anuncio: solo banner -->
        <div *ngIf="p.tipo === 'Ad'" class="tarjeta anuncio">
          <app-adsense-banner></app-adsense-banner>
        </div>
      </ng-container>
    </div>
  </div>
</div>
