<div class="auth-container">
  <h2 class="title">Iniciar Sesión</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="inputs" for="username">Usuario</label>
    <input
      id="username"
      type="text"
      formControlName="username"
      placeholder="Ingrese su usuario"
      title="Nombre de usuario"
      [class.invalid-input]="username?.invalid && username?.touched"
    />
    <div *ngIf="username?.invalid && username?.touched" class="error">
      Usuario requerido
    </div>

    <label class="inputs" for="password">Contraseña</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Mínimo 6 caracteres"
      title="Ingrese su contraseña"
      [class.invalid-input]="password?.invalid && password?.touched"
    />
    <div *ngIf="password?.invalid && password?.touched" class="error">
      Contraseña requerida (mínimo 6 caracteres)
    </div>

    <button type="submit" [disabled]="form.invalid">Ingresar</button>
  </form>

  <p>
    <a [routerLink]="'/register'">Crear cuenta</a>
  </p>
</div>
