<nav class="menu">
  <ul>
    <!-- Opciones de usuario -->
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn btn-outline-primary btn-sm" style="margin-left: 1rem;">
        👤
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <button (click)="logout()" class="btn btn-danger btn-sm" style="margin-left: 1rem;">
        🔓
      </button>
    </li>
    <!-- Enlaces de navegación -->
    <li>
      <a routerLink="/hora-actual" routerLinkActive="activo">
        <span class="icon">🕒</span>
      </a>
    </li>
    <li>
      <a routerLink="/lista-horas" routerLinkActive="activo">
        <span class="icon">📋</span>
      </a>
    </li>
    <li>
      <a routerLink="/por-fecha" routerLinkActive="activo">
        <span class="icon">📅</span>
      </a>
    </li>
  </ul>
</nav>
