<nav class="menu">
  <ul>
    <!-- Si NO está logueado -->
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="activo" style="margin-left: 1rem;">
        <span class="icon"><i class="bi bi-person-fill"></i></span>
      </a>
    </li>

    <!-- Si está logueado -->
    <li *ngIf="isLoggedIn">
      <a href="#" (click)="logout(); $event.preventDefault()" style="margin-left: 1rem;">
        <span class="icon"><i class="bi bi-door-open-fill"></i></span>
      </a>
    </li>

    <!-- Siempre visibles -->
    <li>
      <a routerLink="/hora-actual" routerLinkActive="activo">
        <span class="icon"><i class="bi bi-clock-fill"></i></span>
      </a>
    </li>
    <li>
      <a routerLink="/lista-horas" routerLinkActive="activo">
        <span class="icon"><i class="bi bi-card-list"></i></span>
      </a>
    </li>

    <!-- Solo si está logueado -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/por-fecha" routerLinkActive="activo">
        <span class="icon"><i class="bi bi-calendar-fill"></i></span>
      </a>
    </li>
  </ul>
</nav>